{% extends "base.html" %}
{% block title %}All - Scholarship Finder{% endblock %}

{% block content %}
<section id="all_scholarships">
    {% if all_scholarships %}
    <h2>All Scholarships</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Scholarship Name</th>
                <th>Details</th>
                <th>Domicile</th>
                <th>Academic Performance</th>
                <th>Family Income</th>
                <th>Course</th>
                <th>Diploma to Degree(D2D)</th>
                <th>Class Group</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for scholarship in all_scholarships %}
            <tr>
                <td>{{ scholarship[0] }}</td>
                <td>{{ scholarship[1] }}</td>
                <td>{{ scholarship[2] }}</td>
                <td>{{ scholarship[3] }}</td>
                <td>{{ scholarship[4] }}</td>
                <td>{{ scholarship[5] }}</td>
                <td>{{ scholarship[6] }}</td>
                <td>{{ scholarship[7] }}</td>
                <td><a href="{{ scholarship['Link'] }}" target="_blank">Apply Here</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No scholarships found.</p>
    {% endif %}
</section>
{% endblock %}