<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OBC Scholarships</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>OBC Scholarships</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Details</th>
            <th>Eligibility</th>
        </tr>
        {% for scholarship in scholarships %}
        <tr>
            <td>{{ scholarship[0] }}</td>
            <td>{{ scholarship[1] }}</td>
            <td>{{ scholarship[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('home') }}" class="btn">Back to Home</a>
</body>

</html>