{% extends "footer_header.html" %}
{% block title %}All - Scholarship Finder{% endblock %}

{% block content %}
<section id="obc_scholarships">
    <h2>OBC Scholarships</h2>
    <table>
        <tr>
            <th>Scholarship Name</th>
            <th>Details</th>
            <th>Domicile</th>
            <th>Academic Performance</th>
            <th>Family Income</th>
            <th>Course</th>
            <th>Diploma to Degree(D2D)</th>
            <th>Class Group</th>
            <th>Link</th>

        </tr>
        {% for scholarship in scholarships %}
        <tr>
            <td>{{ scholarship[0] }}</td>
            <td>{{ scholarship[1] }}</td>
            <td>{{ scholarship[2] }}</td>
            <td>{{ scholarship[3] }}</td>
            <td>{{ scholarship[4] }}</td>
            <td>{{ scholarship[5] }}</td>
            <td>{{ scholarship[6] }}</td>
            <td>{{ scholarship[7] }}</td>
            <td><a href="{{ scholarship[8] }}" target="_blank">Apply Here</a></td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('home') }}" class="btn">Back to Home</a>
</section>
{% endblock %}