{% extends "base.html" %}
{% block title %}All - Scholarship Finder{% endblock %}

{% block content %}
<section id="sebc_scholarships">
    <h2>SEBC Scholarships</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Details</th>
            <th>Eligibility</th>
            <th>Link</th>
        </tr>
        {% for scholarship in scholarships %}
        <tr>
            <td>{{ scholarship[0] }}</td>
            <td>{{ scholarship[1] }}</td>
            <td>{{ scholarship[2] }}</td>
            <td><a href="{{ scholarship[3] }}">{{ scholarship[3] }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('home') }}" class="btn">Back to Home</a>
</section>
{% endblock %}